<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">

	<!-- 검색 조건문 -->
	<sql id="criteria">
		<trim prefix="where (" suffix=")" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like concat('%',#{keyword},'%')
						</when>
						<when test="type == 'W'.toString()">
							b.MEMBER_NAME = #{keyword}
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>


	<!-- 게시판 글 등록 -->
	<select id="insertBoard" parameterType="com.study.model.BoardVO" resultType="int">
		insert into Bd_BOARD (MEMBER_NO, TITLE, CONTENT)
		VALUES (#{memberNo}, #{title}, #{content})
		SELECT @@IDENTITY AS boardNo
		
	</select>

	<!-- 작성자 가져오기 -->
	<!-- 세션으로 가져오면 바로 이름을 가져올수있지만 조인을 사용하라고 해서 게시판을 한번도 안쓴사람이 게시판을 쓰려고하면 이름을 
		못가져온다 그래서 레프트 조인 씀!! -->
	<select id="selectWriter" resultType="String">
		select top 1 MEMBER_NAME
		from Cu_MEMBER as a
		left outer join Bd_BOARD as b 
			on a.MEMBER_NO = b.MEMBER_NO
		where a.MEMBER_NO = #{memberNo}
	</select>

	<!-- 게시판 목록 -->
	<select id="getList" resultType="hashmap">
		select b.MEMBER_NAME as memberName
		,a.BOARD_NO as boardNo
		,a.TITLE as title
		,a.REG_DATE as bregDate
		,a.ISENABLED as isEnabled
		,b.MEMBER_NO as memberNo
		from Bd_BOARD as a
			inner join Cu_MEMBER as b on a.MEMBER_NO = b.MEMBER_NO
		<if test="keyword != null">
			<include refid="criteria"></include>
		</if>
		ORDER BY BOARD_NO DESC
		OFFSET (#{pageNum}-1)*#{amount} ROWS
		FETCH NEXT #{amount} ROWS ONLY

	</select>

	<!-- 게시물 총 개수 -->
	<select id="getTotal" resultType="int">
		select count(*) 
		from Bd_BOARD as a
			inner join Cu_MEMBER as b on a.MEMBER_NO = b.MEMBER_NO
		<if test="keyword != null">
			<include refid="criteria"></include>
		</if>
	</select>

	<!-- 게시판 상세 조회 -->
	<select id="getPage" resultType="hashMap">
		select MEMBER_NAME as memberName
			, HIT as hit
			, a.REG_DATE as regDate
			, a.UPDATE_DATE as updateDate
			, TITLE as title
			, CONTENT as content
			, b.MEMBER_NO as memberNo
			, a.BOARD_NO as boardNo
		FROM Bd_BOARD as a
		inner join Cu_MEMBER as b on a.MEMBER_NO = b.MEMBER_NO
		where BOARD_NO = #{boardNo}
	</select>

	<!-- 첨부파일 업로드 -->
	    <insert id="insertFile" parameterType="hashMap">
		INSERT INTO Bd_FILE(
			BOARD_NO,
			ORIGINFILE_NAME,
			SAVEDFILE_NAME,
			FILE_SIZE
		)VALUES(
			#{boardNo},
			#{originfileName},
			#{savedfileName},
			#{fileSize}
		)
    </insert>
	
	<!-- 조회수 증가 -->
	<update id="updateHit" parameterType="int">
		UPDATE Bd_BOARD
		SET 
			hit = hit + 1
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시판 수정 -->
	<update id="modify" parameterType="com.study.model.BoardVO">
		UPDATE Bd_BOARD
		SET	
			TITLE = #{title},
			CONTENT = #{content},
			UPDATE_DATE = GETDATE()
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시판 삭제 -->
	<update id="delete" parameterType="int">
	UPDATE Bd_BOARD
	SET	
		ISENABLED = 'Y',
		UPDATE_DATE = GETDATE()
	WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시물 삭제여부 확인 -->
	<select id="deleteChk" resultType="int" parameterType="int">
		SELECT COUNT(*) FROM Bd_BOARD
			WHERE ISENABLED = 'Y'
			AND BOARD_NO = #{boardNo}
	</select>
	
	
	<!-- 첨부파일 조회 -->
	<select id="selectFileList" parameterType="int" resultType="hashMap">
		SELECT FILE_NO, 
			   ORIGINFILE_NAME,
			   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
		  FROM Bd_FILE
		 WHERE BOARD_NO = #{boardNo}
		   AND ISENABLED = 'N'
		   ORDER BY FILE_NO ASC
	</select>
	
	<!-- 첨부파일 수정(삭제) -->
	<update id="updateFile" parameterType="hashMap">
		UPDATE Bd_FILE
		SET
			ISENABLED = 'Y'
		WHERE FILE_NO = #{FILE_NO}
	</update>
	
	<!-- 메인 게시판 4개 가져오기 -->
	<select id="fourMain" resultType="hashMap">
		select TOP 4 TITLE as title
					, REG_DATE as bregDate
		FROM Bd_BOARD 
		WHERE ISENABLED = 'N' 
		ORDER BY REG_DATE DESC
	</select>
</mapper>