<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gboardMapper">

<!-- 자유갤러리 등록 -->
<insert id="insertGelleryFile" parameterType="hashMap">
insert into Bd_GALLERY(
	MEMBER_NO,
	ORIGINFILE_NAME,
	SAVEDFILE_NAME,
	FILE_SIZE
)
values (
	#{memberNo}
	, #{originfileName}
	, #{savedfileName}
	, #{fileSize}
)
</insert>

<!-- 자유갤러리 조회 -->
<select id="selectGelleryList" resultType="Map">
SELECT TOP 8
	GALLERY_NO as galleryNo,
	MEMBER_NO,
	ORIGINFILE_NAME,
	SAVEDFILE_NAME as savedfileName,
	ROUND(FILE_SIZE/1024,1) AS FILE_SIZE,
	REG_DATE,
	ISENABLED
 FROM Bd_GALLERY
 WHERE ISENABLED = 'N'
 ORDER BY REG_DATE DESC
</select>

<!-- 자유갤러리 8개씩 가져오기 -->
<select id="listPlusEight" resultType="Map">
SELECT
	GALLERY_NO as galleryNo,
	MEMBER_NO,
	ORIGINFILE_NAME,
	SAVEDFILE_NAME as savedfileName,
	ROUND(FILE_SIZE/1024,1) AS FILE_SIZE,
	REG_DATE,
	ISENABLED
FROM Bd_GALLERY
WHERE ISENABLED = 'N'
ORDER BY REG_DATE DESC
OFFSET (#{galleryCnt})*8 ROWS
FETCH NEXT 8 ROWS ONLY
</select>


<!-- 자유갤러리 삭제 -->
<update id="delete" parameterType="int">
UPDATE Bd_GALLERY
SET	
	ISENABLED = 'Y',
	DELETE_DATE = GETDATE()
WHERE GALLERY_NO = #{galleryNo}
</update>
	
<!-- 메인 자유갤러리 6개 가져오기 -->
<select id="sixMain" resultType="hashMap">
SELECT TOP 6
	GALLERY_NO as galleryNo,
	MEMBER_NO,
	ORIGINFILE_NAME,
	SAVEDFILE_NAME as savedfileName,
	ROUND(FILE_SIZE/1024,1) AS FILE_SIZE,
	REG_DATE,
	ISENABLED
FROM Bd_GALLERY
WHERE ISENABLED = 'N'
ORDER BY REG_DATE DESC;
</select>



</mapper>