<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="MemberMapper">
  	
  	<!-- 회원가입 -->
	<insert id= "memberJoin" parameterType="com.study.model.MemberVO">
		 INSERT INTO Cu_MEMBER (MEMBER_NO, MEMBER_ID, MEMBER_NAME, MEMBER_PASSWORD, EMAIL,PHONE, ZIPCODE, STREETADR, DETAILADR)
		 				 VALUES(#{memberNo}, #{memberId}, #{memberName}, #{memberPassword}
		 							, #{email}, #{phone}, #{zipcode}, #{streeAdr}, #{detailAdr})
	</insert>
	
	<!-- 아이디 중복 검사 -->
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) FROM Cu_MEMBER
			WHERE MEMBER_ID = #{memberId}
			AND ISENABLED = 'N'
	</select>
	
	<!-- 이메일 중복 검사 -->
	<select id="emailCheck" resultType="int">
		SELECT COUNT(*) FROM Cu_MEMBER
			WHERE EMAIL = #{email}
			AND ISENABLED = 'N'
	</select>
	
	<!-- 비밀번호 검사 -->
	<select id="pwCheck" resultType="String">
		SELECT MEMBER_PASSWORD FROM Cu_MEMBER
			WHERE MEMBER_ID = #{memberId}
			AND ISENABLED = 'N'
	</select>

	<!-- 로그인 -->
	<select id="memberLogin" resultType="com.study.model.MemberVO" parameterType="String">
		SELECT MEMBER_ID AS memberId, MEMBER_NAME AS memberName, MEMBER_NO AS memberNo, MEMBER_PASSWORD AS memberPassword
			FROM Cu_MEMBER 
			WHERE MEMBER_ID = #{memberId} 
			AND ISENABLED = 'N'
	</select>
	
	<!-- REG_DATE가 최신인 MEMBER_NO 가져오기 -->
	<select id="selectMemberNo" resultType="String" >
		SELECT TOP 1 MEMBER_NO
			FROM Cu_MEMBER 
			WHERE CONVERT(INT, CONVERT(CHAR(8), REG_DATE , 112)) = CONVERT(VARCHAR, GETDATE(), 112)
		ORDER BY REG_DATE DESC
	</select>
	
	
	<!-- 회원정보 수정 -->
	<update id="memberUpdate" parameterType="com.study.model.MemberVO">
		UPDATE Cu_MEMBER 
		SET EMAIL = #{email},
			PHONE = #{phone},
			ZIPCODE = #{zipcode},
			STREETADR = #{streeAdr},
			DETAILADR = #{detailAdr},
			UPDATE_DATE = GETDATE()
		WHERE MEMBER_ID = #{memberId}
	
	</update>
	
	
	<!-- 회원 탈퇴 -->
	<update id="memberDelete" parameterType="String">
		UPDATE Cu_MEMBER 
		SET	ISENABLED = 'Y',
		UPDATE_DATE = GETDATE()
		WHERE
			MEMBER_NO = #{memberNo} AND  ISENABLED = 'N'
	</update>
	
		<!-- 회원조회 -->
	<select id="getMember" resultType="com.study.model.MemberVO" parameterType="String">
		SELECT MEMBER_ID AS memberId
		, MEMBER_NAME AS memberName
		, MEMBER_NO AS memberNo
		, EMAIL AS email
		, ZIPCODE AS zipcode
		, DETAILADR AS detailAdr
		, STREETADR AS streeAdr
		, PHONE AS phone
		FROM Cu_MEMBER 
		WHERE MEMBER_NO = #{memberNo}
		AND ISENABLED = 'N'
	</select>
	
	
	<!-- 아이디찾는 이력 저장 -->
	<insert id="insertId" parameterType="com.study.model.MemberVO">
		INSERT INTO Cu_NEWID (MEMBER_NO, MEMBER_ID)
		 				 VALUES(#{memberNo}, #{memberId})
		 				 
	</insert>
	
	<!-- 이메일로 아이디, 비밀번호 찾기 -->
	<select id="findIdByEmail" resultType="com.study.model.MemberVO" parameterType="String">
		select MEMBER_NO AS memberNo, MEMBER_ID AS memberId 
		from Cu_MEMBER 
		where EMAIL = #{email}
			AND ISENABLED = 'N'
	</select>
	
	<!-- 임시 비밀번호 저장 -->
	<insert id="insertTempPw" parameterType="com.study.model.NewPwVO">
		INSERT INTO Cu_NEWPW (MEMBER_NO, NEW_PW, ENC_PW)
		 				 VALUES(#{memberNo}, #{newPw}, #{encPw})
	</insert>
	
	<!-- 비밀번호 변경 -->
	<update id="updatePw" parameterType="String">
		update Cu_MEMBER
		SET MEMBER_PASSWORD = #{tempPw}
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
  </mapper>
  
  
 